.DS_Store
.idea/
__pycache__/
input/data/

# 데이터 무시
data/train/
data/test/
data/augment_csv
data/augment_image
data/submission
data.tar.gz
meta.csv
sample_submission.csv
train.csv
output/

# Wandb 무시
wandb/ 

# model 무시
model/

# augraphy_cache 무시 
augraphy_cache/

# 개인 작업 중 추가되는 파일 무시
*.yml
*.csv
*.pem
*.txt
